:root {
    font-family: "MiSans", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

body {
    margin: 8px;
    overflow: hidden;
}
